// global link button
.link-button, .link-button-ghost {
  padding: 0.5rem 2rem;
  border-radius: 100rem;
  border: 0.2rem solid $ocean-blue;
}

.link-button {
  background-color: $ocean-blue;
  text-decoration: none;
  color: $text-blue;
}

.link-button-ghost {
  text-decoration: none;
  color: $text-grey;
}

.header-seperator {
  width: 15%;
  border: 0.2rem solid $ocean-blue;
  display: inline-block;
  border-radius: 100rem;
  margin-top: 0;
  margin-left: 0;
}
