body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: $text-blue;
  background-image: url($baseurl + "/assets/img/background_smallScreen.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  main {
    flex: 1;
  }
}

// screen size vaiables
$medium-screen: 480px;
$large-screen: 768px;

// global body padding
$body-padding-small: 0 2rem;
$body-padding-medium: 0 3rem;
$body-padding-large: 0 4rem;

.body-padding {
  padding: $body-padding-small;
}

@media only screen and (min-width: $medium-screen) {
  body {
    background-image: url($baseurl + "/assets/img/background_largeScreen.svg");
    background-position: left top;
  }
  .body-padding {
    padding: $body-padding-medium;
  }
}

@media only screen and (min-width: $large-screen) {
  .body-padding {
    padding: $body-padding-large;
  }
}

// global classes
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
