.primarynav {
  display: flex;
  flex-direction: column;
  a svg {
    max-width: 12.5rem;
    height: auto;
    display: block;
    margin: 1rem auto 0;
  }
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 2rem;
    li {
      flex: 1;
      a {
        display: block;
        width: 100%;
        padding: 0.5rem 0;
        color: $text-grey;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

// media query for desktop 
@media only screen and (min-width: $medium-screen) {
  .primarynav ul a svg {
    width: 6rem;
    height: auto;
  }
}

@media only screen and (min-width: $large-screen) {
  .primarynav ul a svg {
    width: 10rem;
    height: auto;
  }
}
