.splash-content {
  display: flex;
  flex-direction: column;
  &>img {
    width: 70%;
    margin: auto;
  }
  .splash-link-container a:not(:first-child){
    margin-left: 1rem;
  }
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
  }
}

.splash-link-container {
  margin-bottom: 2rem;
}

@media only screen and (min-width: $medium-screen) {
  .splash-content img {
    width: 15rem;
  }
}

@media only screen and (min-width: $large-screen) {
  .splash-content {
    margin-top: 3rem;
    flex-flow: row;
    &>img {
      width: 29rem;
      margin: auto;
    }
    &>div.flex-column {
      padding: 0 0 0 10rem;
      flex: 1;
      div {
        margin: auto 0;
      }
    }
  }
}
