.terminal-content {
   h1 {
    margin-bottom: 0;
  }
  #game-container {
    display: none;
  }
  button#start {
    background: none;
    border: none;
  }
  #user-input {
    background-color: transparent;
    border: none;
  }
}

.terminal-heading {
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  hr {
    margin-bottom: 2rem;
  }
}


.terminal-container {
  margin: 0 1rem;
}

.terminal-content {
  position: relative;
  background-color: #222;
  min-height: 30rem;
  max-width: 50rem;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  overflow-y: auto;
}

.game-intro, #game-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: $medium-screen) {
  .terminal-content {
    margin: 0 auto;
  }
}
