h1, h2, h3, h4, h5, h6, .link-button, .link-button-ghost {
  font-family: 'Oswald', sans-serif;
}

.primarynav {
  a {
    font-family: 'Oswald', sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $text-grey;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// global font sizes
p {
  font-size: 1.1rem;
  line-height: 1.75;
  color: $text-grey;
}

footer p {
  font-size: 0.75rem;
}


// Medium screens
@media only screen and (min-width: $medium-screen) {
  h1 {
    font-size: 2.5rem;
  }
}

// Large screens
@media only screen and (min-width: $large-screen) {
  h1 {
    font-size: 4rem;
  }
}
