.splash-content {
  &>img {
    width: 60vw;
    margin: 0 auto;
  }
  .splash-link-container a:not(:first-child){
    margin-left: 1rem;
  }
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
  }
}

.splash-link-container {
  margin-bottom: 2rem;
}
