// .splash-content {
//   height: 100%;
//   img {
//     height: 25rem;
//     width: auto;
//     margin: auto 0;
//   }
//   div {
//     height: 25rem;
//     width: 40vw;
//     margin: auto 0;
//   }
// }


.splash-content {
  &>img {
    width: 60vw;
    margin: 0 auto;
  }
  .splash-link-container a:not(:first-child){
    margin-left: 1rem;
  }
}

.splash-link-container {
  margin-bottom: 2rem;
}
