---
# FRONT MATTER MATTER
---

$baseurl: "{{site.baseurl}}";

// global color
$ocean-blue: #14C0D7;
$text-blue: #0E233B;
$text-grey: #D3D3D3;

@import "layout";
@import "footer";
@import "typography";
@import "primarynav";
@import "splash";
@import "components";
@import "about";
@import "terminal";
@import "guide";


// import styles
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
