---
# FRONT MATTER MATTERS
---

// global colours
$ocean-blue: #14C0D7;
$text-blue: #0E233B;
$text-grey: #D3D3D3;

@import "layout";
@import "footer";
@import "typography";
@import "primarynav";
@import "splash";
@import "components";
@import "terminal";


// import styles
@import url('https://fonts.googleapis.com/css?family=Oswald');
