<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}assets/main.css">
  </head>

  <body>

    <nav class="primarynav body-padding">
      <ul>
        <li><a href="#">logo</a></li>
        <li><a href="#">Restart</a></li>
        <li><a href="#">How to play</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>

    <main>
      {{ content }}
    </main>

    <hr>
    <footer>
      I'm a foot
    </footer>
  </body>
</html>
