<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}assets/main.css">
  </head>
  <header class= "header">
    <a class= "logo" href="#"><img src="#"></a>
      <ul class="flexbox-row">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
  </header>
  <body>
    <main>
      {{ content }}
    </main>

    <hr>
    <footer>
      I'm a foot
    </footer>
  </body>
</html>
