<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
  </head>

  <body>

    <nav class="primarynav body-padding">
      <a href="{{site.baseurl}}/">{% include logo/logo_outline.svg %}</a>
      <ul>
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/about">About</a></li>
        <li><a href="{{site.baseurl}}/terminal">Play</a></li>
        <li><a href="{{site.baseurl}}/guide">Guide</a></li>
      </ul>
    </nav>

    <main>
      {{ content }}
    </main>

  <footer class="body-padding">
    {% include footer.html %}
  </footer>
  </body>
</html>
